.App-Container {
	background-color: var(--white);
	max-width: 410px;
	height: 100vh;
	max-height: 900px;
	background-color: var(--black);
	margin: auto;
	padding: 25px 8px 40px;

	border-radius: 10px;
}
.App {
	position: relative;

	background-color: var(--white);
	max-width: 400px;
	height: 100vh;
	max-height: 840px;
	margin: auto;

	border-radius: 10px;
	overflow: hidden;
}
.App-content {
	position: relative;
	display: flex;
	gap: 16px;
	flex-direction: column;

	background-color: var(--white);
	max-width: 400px;
	height: 100vh;
	max-height: 840px;
	margin: auto;
	padding: 16px 16px 56px;

	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.App-content::-webkit-scrollbar {
	display: none;
}

.block {
	text-align: center;
	line-height: 200px;
	height: 200px;

	border: 2px solid var(--secondary);
	border-radius: 5px;
}
.logo {
	text-align: center;
	line-height: 150px;
	height: 150px;

	font-size: 60px;
	font-family: 'Assistant', 'system-ui', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Roboto', 'Helvetica',
		'Arial', 'sans-serif';
	color: var(--primary);

	background-color: transparent;
	border: none;
}
