.app-component {
	max-width: 410px;
	height: 100vh;
	max-height: 900px;
	background-color: var(--black);
	margin: 40px auto 0;
	padding: 25px 8px 40px;

	border-radius: 10px;
}
.app {
	position: relative;

	max-width: 400px;
	height: 100vh;
	max-height: 840px;
	margin: auto;

	border-radius: 10px;
	overflow: hidden;
}
.app-content {
	position: relative;
	display: flex;
	gap: 24px;
	flex-direction: column;

	background-color: var(--white);
	max-width: 400px;
	height: 100vh;
	max-height: 840px;
	margin: auto;
	padding: 16px 16px 86px;

	border-color: var(--black);
	border-radius: 10px;
	overflow-x: hidden;
	overflow-y: scroll;
}

.toaster {
	position: absolute;
	top: 0px;
	left: 40px;
}

.app-content::-webkit-scrollbar {
	display: none;
}

.logo {
	text-align: center;
	line-height: 150px;
	height: 150px;

	font-size: 60px;
	font-family: 'Assistant', 'system-ui', 'BlinkMacSystemFont', '-apple-system', 'Segoe UI', 'Roboto', 'Helvetica',
		'Arial', 'sans-serif';
	color: var(--primary);

	border-radius: 5px;
	border: none;
}

.section-title {
	position: relative;
	display: flex;
	font-weight: 200;

	margin: 24px;
	margin-bottom: 36px;
	padding: 15px 0 6px;
	border-bottom: 1px solid;
	cursor: default;
}
.section-title h2 {
	margin-left: 2px;
}
.section-icon {
	position: absolute;
	right: 8%;
	bottom: 0px;
	font-size: 46px;
}

.block {
	text-align: center;
	line-height: 200px;
	height: 200px;

	border: 2px solid var(--secondary);
	border-radius: 5px;
}

.btn {
	cursor: pointer;
}

.btn-API {
	padding: 8px 16px;

	cursor: pointer;
}
.btn-API:active {
	background-color: var(--secondary);
}
