.plant-component {
	display: flex;
	flex-direction: column;
	gap: 16px;
	line-height: 24px;
}

.btn-back {
	height: 34px;
	width: 34px;
	font-size: 22px;
	margin-top: 12px;
	margin-left: 8px;
	background-color: inherit;

	border: 2px solid;
	border-radius: 8px;

	transition: 0.4s;
	cursor: pointer;
}
.btn-back:hover {
	scale: 1.05;
	background-color: #209aaa;
}
.btn-back:active {
	scale: 0.96;
	background-color: #1b8391;
}

.card-img-plant {
	display: flex;
	justify-content: space-around;
	width: 100%;

	margin: 16px auto;
}

.card-img-plant .card-img {
	border-radius: 8px;
}

/* .card-img-plant img {
	width: 40%;
	height: 160px;
	object-fit: cover;
} */

.plant-container h3 {
	color: var(--primary);
	margin-bottom: 16px;
}
.plant-container.center {
	text-align: center;
}
.article-container {
	display: flex;
	flex-direction: column;
	gap: 16px;
}
.article-container button {
	border: none;
	background-color: inherit;
}

.note-plant {
	position: relative;
	display: flex;
	width: 100%;
}
.note-plant textarea {
	width: 100%;
	resize: vertical;
	font-family: cursive;
	font-size: 20px;
	letter-spacing: 2px;

	padding: 8px;
	background-color: var(--lavender-pastel);

	border: 1px solid var(--lavender);
	border-radius: 5px;
	outline: none;
}
::-webkit-resizer {
	display: none;
}
.note-plant button {
	position: absolute;
	bottom: 0;
	right: 0px;
	font-size: 20px;

	height: 36px;
	width: 36px;

	border: none;
	outline: none;
	background-color: transparent;
}
.note-plant textarea:read-write {
	border-color: var(--black);
}

.blob {
	display: inline-block;
	margin-right: 8px;
	margin-bottom: 2px;
	padding: 2px 4px;

	border-radius: 5px;
}
.blob.full {
	display: block;
}
.blob.blue {
	background-color: var(--blue);
}
.blob.green {
	background-color: var(--green);
}
.blob.grey {
	background-color: var(--grey100);
	color: var(--black);
}
.blob.blue {
	background-color: var(--blue);
}
.blob.red {
	background-color: var(--red);
}
.blob.yellow {
	background-color: var(--yellow);
}
.blob.lavender {
	background-color: var(--lavender20);
}

.plant-container li {
	position: relative;
	list-style: none;
	text-transform: capitalize;
}
.plant-container .names li::after {
	content: ',';
	position: absolute;
	right: -5px;
	bottom: 0;
}
.plant-container li:last-child::after {
	content: '';
}

.plant-container p:first-of-type {
	display: inline-block;
	width: fit-content;
	margin-right: 10px;
	margin-bottom: 8px;
	padding: 2px 4px;
	border-bottom: 1px solid var(--primary);
}
.danger {
	display: flex;
	align-items: center;
	width: 100%;
	padding: 8px 0;
}
.btn-delete {
	width: 50%;
	padding: 5px;
	margin: 0 auto;
	cursor: pointer;
	border: 2px solid var(--red);
	background-color: inherit;

	transition: 0.4s;
}

.btn-delete:hover,
.btn-delete:active {
	background-color: var(--red);
}
.btn-delete:active {
	scale: 0.95;
}
